<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>ExplorerPP</string>
    <key>CFBundleExecutable</key>
    <string>ExplorerPP</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>com.sanjayk.ExplorerPP</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>ExplorerPP</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSMultipleInstancesProhibited</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSDesktopFolderUsageDescription</key>
    <string>ExplorerPP needs access to show and manage files in your Desktop folder.</string>
    <key>NSDocumentsFolderUsageDescription</key>
    <string>ExplorerPP needs access to show and manage files in your Documents folder.</string>
    <key>NSDownloadsFolderUsageDescription</key>
    <string>ExplorerPP needs access to show and manage files in your Downloads folder.</string>
    <key>NSNetworkVolumesUsageDescription</key>
    <string>ExplorerPP needs access to browse files on network volumes that you open.</string>
    <key>NSRemovableVolumesUsageDescription</key>
    <string>ExplorerPP needs access to browse files on removable volumes that you open.</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
